
/*universal initial setting*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100%;
	/*width: 100%;*/

}

/*
.guide{
	border: 5px solid black;
	
}
*/
html, body{
	
	max-width: 100%;
	overflow-x: hidden;

}

.nav-text:hover{
	background-color: black;
	border-radius: 10px;
	
}

#container{
	background-color: #E9EBF8;
	
	color: #666;
	font-family: arial, georgia, veranda;
	font-size: 14px;
	line-height: 21px;
	min-height: 100vh;

}
.guide{
	/*border: 5px solid black;*/
	
}

#logo{
	height:50px;
	/*max-width: 25px;*/
}

#back-navi{
	color: #FEFFFE;
	background-color: #38393F;
}

#company{
	color: #FEFFFE;
	font-family: 'Pacifico', cursive;
}

#navtext{
	font-size: 24px;
	margin-left: 25px;
	color: #FEFFFE;
}



#navtextactive{
	font-size: 24px;
	margin-left: 25px;
	color: #FEFFFE;
	background-color: black;
	border-radius: 10px;
}



#right{
	height: 100%;

}

#space{
	height: 70px;
}



#history{
	/*height: 50%;*/
	background-color: rgba(119, 136, 153,0.2);
	border-radius: 20px;
	padding-top: 10px;

	margin-bottom: 10px;
	
}


#team{
	height: 100%;
	margin-bottom: 10px;
	background-color: rgba(119, 136, 153,0.2);
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px; 
}

.team-member{
	background-color: rgba(119, 136, 153,0.2);
	
	border-radius: 20px;
	margin-bottom: 10px;
	
}



.team-pic{
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin: auto;
	margin-top: 10px;
}

.team-desc{
	text-align: justify;
	margin-bottom: 0px;
}

.team-name{
	text-align: center;
}
.product-member{
	background-color: rgba(119, 136, 153,0.2);
	
	border-radius: 20px;
	margin-bottom: 10px;
	
}

#product{
	height: 100%;
	margin-bottom: 10px;
	background-color: rgba(119, 136, 153,0.3);
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px; 
}

.product-pic{
	height: 250px;
	width: 250px;
	border-radius: 100%;
	border: 2px solid black;
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 20px;

}

.product-name{
	margin: 20px;
	/*font-size: 30px;*/
	font-weight: bold;
}

.product-desc{
	margin: 30px;
	text-align: justify;
	margin-left: 40px;
}

#cafe{
	width: 100%;
	border-radius: 20px;
	margin-top: 20px;
}

#home-desc{
	margin-top: 20px;
	text-align: justify;
	font-size: 16px;
	background-color: rgba(119, 136, 153,0.2);
	border-radius: 20px;
	padding:30px; 
}

#about-logo{
	max-height: 250px;
	border: 1px solid black;
	margin-right: 10px;
	float: left;
}

.hist{
	text-align: justify;

}
#dp{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: 10px;
}

.space{
	margin-top: 10px;
	margin-bottom: 10px;

}

#spaced{
	margin-top: 50px;
}

.spaces{
	height:10px;
}

.lbl{
	font-size: 16px;
	font-weight: bold;
}

#formbg{
	min-height: 300px;
	width: 100%;
	background-color: rgba(204, 204, 255, 0.6);
	border-radius: 20px;
}

#for-form{
	margin: 0px;
	margin-bottom: 10px;
}

.branch-name{
	margin-left: 50px;
}

textarea{
	resize: none;
}

#branch{
	min-height: 300px;
	width: 100%;
	background-color: rgba(204, 204, 255, 0.6);
	border-radius: 20px;

}
.rev{
	text-align: justify;
	font-size: 12px;
	font-family: cursive;
}

#head-name{
	margin-top: 20px;
}

#cec{
	height: 150px;
	margin-top: 10px;
}

#welcome{
	font-size: 50px;

}


#gal-pic{
	height: 200px;
	width: 100%;

}

/*#gal-elem{
	margin-left: 20px;
}*/




.gal-margin{
	margin-bottom: 20px;
}

footer{
	text-align: center;
	color: #FEFFFE;
	background-color: #38393F;
}






/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#welcome{
		font-size: 15px;
	}

	#cec{
		height: 60px;
	}

	#about-logo{
		max-height: 250px;
		border: 1px solid black;
		margin-left: 45px;
		clear: both;
	}

	#hist-title{
		text-align: center;
	}

	.product-pic{
		margin-left: 40px;
	}

}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#dp{
		margin-left:30px;
	}

	#welcome{
		font-size: 30px;
	}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}